<img src="/images/img_lady_making_checklist.png" alt="Figura de uma mulher pensando com uma lista no fundo">

<div class="main-container">
  <div class="text-container">
    <h4>Bem-vindo(a) ao Tá Feito!</h4>
    <span>Por aqui você pode criar listas personalizadas de tarefas para organizar sua vida.</span>
  </div>

  <div class="create-list-btn-container">
    <div>
      <p>Bora ser produtivo hoje?</p>
      <p>Que tal criar sua primeira checklist<img src="/images/icon_fingerdown.svg" alt=""></p>
    </div>

    <button tfButton color="primary" [routerLink]="['/new-checklist']">Criar uma checklist</button>
  </div>
</div>
