:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 36px;
}

.texts-container, .buttons-container {
  display: flex;
  flex-direction: column;
}

.texts-container {
  gap: 24px;
}

.buttons-container {
  gap: 16px;
}

p {
  font-size: 18px;
  text-align: center;
}
