<img src="/images/icon_arrow_left.svg" alt="Seta para esquerda" [routerLink]="['/home']" class="return-arrow">

<h4>Nova Checklist</h4>

<div class="main-container">
  <img src="/images/img_man_checking_list.png" alt="Figura de um homem marcando uma lista">

  <form [formGroup]="form" (ngSubmit)="createChecklist()">
    <div class="inputs-container">
      <div class="tf-form-field">
        <label for="name">Nome*</label>
        <input tfInput id="name" placeholder="Insira seu nome completo" formControlName="name"
        [class]="{
          'tf-input-invalid': form.get('name')?.invalid && form.get('name')?.touched,
          'tf-input-valid': form.get('name')?.valid && form.get('name')?.touched
        }"
        />
      </div>

      <div class="tf-form-field">
        <label for="category">Categoria (Opcional)</label>
        <input tfInput id="category" placeholder="Insira uma categoria" type="text" formControlName="category" />
      </div>

      <div class="tf-form-field">
        <label for="description">Descrição (Opcional)</label>
        <textarea id="description" placeholder="Insira uma descrição" formControlName="description"></textarea>
      </div>

      <div class="tf-form-field">
        <label for="limitDate">Prazo (Opcional)</label>
        <input matInput tfInput id="limitDate" placeholder="DD/MM/AAAA" type="text" formControlName="limitDate" readonly="true" [matDatepicker]="dpLimit" [min]="today" (click)="dpLimit.open()"
        [class]="{
          'tf-input-invalid': form.get('limitDate')?.invalid && form.get('limitDate')?.touched,
          'tf-input-valid': form.get('limitDate')?.valid && form.get('limitDate')?.touched
        }"
        />
        <mat-datepicker #dpLimit></mat-datepicker>
        <p>*Campo obrigatório</p>
      </div>

      <div class="checkboxes-container">
        <div>
          <input tfInput id="changeColorByDate" type="checkbox" formControlName="changeColorByDate" (change)="changeLimitDateValidation($event)" />
          <label for="changeColorByDate">Ativar coloração por prazo</label>
          <mat-icon
          clickableTooltip
          matTooltip="Ative para que o sistema altere a cor da checklist automaticamente de acordo com o prazo. (Verde: +3 dias, Amarelo: 1 a 3 dias, Vermelho: 24 hr)."
          matTooltipPosition="after"
          >info</mat-icon>
        </div>

        <div>
          <input tfInput id="showMotivationalMsg" type="checkbox" formControlName="showMotivationalMsg" />
          <label for="showMotivationalMsg">Mostrar mensagem motivacional</label>
          <mat-icon
          clickableTooltip
          matTooltip="Ative para receber mensagens motivacionais durante e ao concluir suas tarefas!"
          matTooltipPosition="after"
          >info</mat-icon>
        </div>
      </div>
    </div>

    <div class="buttons-redirect-container">
      <button tfButton color="primary" type="submit">Criar checklist</button>
      <button tfButton color="secondary" type="button" (click)="resetCheckboxes()">Limpar dados</button>
    </div>
  </form>
</div>
