<img src="/images/logo_written_lg.png" alt="Logo TaFeito Escrito (lg)">

<div class="main-container">
  <img src="/images/img_lady_organized.png" alt="Figura de uma mulher meditando com um Notebook à frente">

  <div class="text-container">
    <h2>Sem perrengue, tá feito!</h2>
    <p>Organize suas tarefas em listas de um jeito divertido e descomplicado.</p>
  </div>

  <div class="buttons-container">
    <button tfButton color="primary" [routerLink]="['/login']">Entrar</button>
    <button tfButton color="secondary" [routerLink]="['/signup']">Criar sua conta</button>
  </div>
</div>
