<div class="left-logo">
  <img src="/images/logo_lg.png" alt="Logo TaFeito (lg)">
</div>

<form [formGroup]="form" (ngSubmit)="redefinePassword()">
  <h2>Recuperar Senha</h2>

  <div class="inputs-container">
    <div class="tf-form-field">
      <label for="password">Inserir nova senha*</label>
      <input tfInput id="password" placeholder="Insira uma senha de pelo menos 6 caracteres" type="password"
      formControlName="password"
      [class]="{
        'tf-input-invalid': form.get('password')?.invalid && form.get('password')?.touched,
        'tf-input-valid': form.get('password')?.valid && form.get('password')?.touched
      }"
      />
    </div>

    <div class="tf-form-field">
      <label for="passwordConfirm">Repita nova senha*</label>
      <input tfInput id="passwordConfirm" placeholder="Insira uma senha de pelo menos 6 caracteres" type="password"
      formControlName="passwordConfirm"
      [class]="{
        'tf-input-invalid': form.get('passwordConfirm')?.invalid && form.get('passwordConfirm')?.touched,
        'tf-input-valid': form.get('passwordConfirm')?.valid && form.get('passwordConfirm')?.touched
      }"
      />
      <p>*Campos obrigatórios</p>
    </div>

    <div class="password-requirements">
      <span>Sua senha precisa conter:</span>
      <div [style.color]="form.get('password')?.touched && hasNumber(form.get('password')?.value) ? '#30B43C' : 'red'">
        <i class="fa-solid fa-check"></i>
        <span>Pelo menos um número</span>
      </div>

      <div [style.color]="form.get('password')?.touched && hasSpecialChar(form.get('password')?.value) ? '#30B43C' : 'red'">
        <i class="fa-solid fa-check"></i>
        <span>Pelo menos um caractere especial</span>
      </div>
    </div>
  </div>

  <div class="button-redirect-container">
    <button tfButton color="primary" type="submit">Redefinir senha</button>
  </div>
</form>
